---
import { Image } from 'astro:assets'
import { Eye } from 'lucide-react'
import { Badge } from '@/components/ui/badge'
import Link from '@/components/Link'

type Props = {
  project: Project
}

const {
  project: { name, description, stacks, githubUrl, imageUrl, previewUrl }
} = Astro.props
---

<ul>
  <li
    class='flex flex-col gap-2 rounded-md sm:flex-row sm:items-center sm:gap-4'
  >
    <div class='group relative sm:w-[30%]'>
      <Image
        src={imageUrl}
        alt={`${name} screenshot`}
        width={1366}
        height={768}
        loading='lazy'
        class='rounded-md duration-200 group-hover:opacity-50'
      />
      <a
        href={previewUrl}
        target='_blank'
        rel='noreferrer'
        class='absolute left-0 top-0 flex h-full w-full items-center justify-center text-base font-bold text-foreground opacity-0 group-hover:opacity-100 sm:text-sm'
        aria-label={`Open preview of ${name} project`}
      >
        <Eye className='mr-1 h-5 w-5 sm:h-4 sm:w-4' />
         Preview
      </a>
    </div>
    <div class='flex flex-col sm:w-[70%]'>
      <Link
        href={githubUrl}
        className='font-heading text-lg'
        aria-label={`Open Github repository of ${name} project`}
      >
        {name}
      </Link>
      <p class='text-sm text-foreground-3'>{description}</p>
      <ul class='mt-1 flex w-full flex-wrap gap-2 pb-[0.4rem]'>
        {
          stacks.map(stack => (
            <li>
              <Badge variant='outline'>{stack}</Badge>
            </li>
          ))
        }
      </ul>
    </div>
  </li>
</ul>
