---
import MainLayout from '@/layouts/MainLayout.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { PROJECTS, SITE_CONFIG } from '@/constants'

const title = `Projects - ${SITE_CONFIG.name}`
const description = 'A list of projects I have created'
const image = `https://og.danni.my.id/home?title=${title}`
---

<MainLayout {title} {description} {image}>
  <main class='container mb-8 mt-4 max-w-3xl'>
    <h1 class='font-heading text-2xl'>Projects</h1>
    <p class='pb-4 text-sm text-foreground-3'>
      {description}
    </p>
    <div class='flex flex-col gap-4'>
      {PROJECTS.map(project => <ProjectCard {...{ project }} />)}
    </div>
  </main>
</MainLayout>
