---
import MainLayout from '@/layouts/MainLayout.astro'
import { getCollection } from 'astro:content'
import { sortPostsByDate } from '@/lib/utils'
import PostCard from '@/components/PostCard.astro'
import { ChevronLeft } from 'lucide-react'
import { Button } from '@/components/ui/button'
import { slug as slugger } from 'github-slugger'
import { SITE_CONFIG } from '@/constants'

export const prerender = true
const posts = sortPostsByDate(
  await getCollection('blog', ({ data }) => data.published !== true)
)

export async function getStaticPaths() {
  const posts = await getCollection(
    'blog',
    ({ data }) => data.published !== true
  )
  return [...new Set(posts.map(post => post.data.tags).flat())].map(tag => ({
    params: { slug: slugger(tag) }
  }))
}

const { slug } = Astro.params

if (!slug) {
  return Astro.redirect('/404')
}

const postsWithTag = posts.filter(post =>
  post.data.tags.some(tag => slugger(tag) === slug)
)

const tag = posts
  .map(post => post.data.tags)
  .flat()
  .find(tag => slugger(tag) === slug)

const title = `${slug} - ${SITE_CONFIG.name}`
const description = `All posts about '${tag}'`
const image = `https://og.danni.my.id/home?title=${title}`
---

<MainLayout {title} {description} {image}>
  <main class='container max-w-3xl'>
    <div class='mb-6 mt-4'>
      <h2 class='font-heading text-2xl'>{description}</h2>
    </div>
    <div class='flex flex-col gap-4'>
      {postsWithTag.map(post => <PostCard {post} />)}
    </div>
    <div class='my-6 flex justify-center'>
      <a href='/blog/tags' class='inline-flex items-center' aria-label='See all tags'>
        <Button variant='ghost'>
          <ChevronLeft className='-ml-2 mr-1 h-4 w-4' />See all tags
        </Button>
      </a>
    </div>
  </main>
</MainLayout>
