---
import { ClientRouter, fade } from 'astro:transitions'
import '@/styles/globals.css'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import ThemeProvider from '@/components/theme/ThemeProvider.astro'
import '@fontsource-variable/inter'
import '@fontsource/barlow/700.css'
import '@fontsource/barlow/800.css'
import '@fontsource-variable/jetbrains-mono'
import { SITE_CONFIG } from '@/constants'

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <ThemeProvider />
    <ClientRouter transition:animate={fade({ duration: '0.2s' })} />

    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />

    <title>{title}</title>
    <meta name='description' content={description} />

    <meta property='og:type' content='website' />
    <meta property='og:site_name' content={SITE_CONFIG.name} />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />

    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={image} />
  </head>
  <body class='min-h-screen font-sans antialiased'>
    <div class='flex min-h-screen flex-col'>
      <Header />
      <div class='flex-1'>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
